body{

    font-family: 'Dancing Script', cursive;
    margin: 0;
}

h1{
    font-size: 40px;
}

.highlight{

    color: red;
}
.logical{
    
      width:40%;
      float:left;
      margin-left:5%;
      padding: 2%;
      
}
.logical img{

      width:100%
}
.bc{

     background-image: url("top-banner.png");
     height: 600px;
     background-repeat: no-repeat;

}
.btn{

     text-decoration: none;
     background-image: linear-gradient(yellow,red);
     border:1px solid red;
     border-radius:5px;
     font-weight: bold;
     padding:10px 20px;
}
.ndpart{

         width: 40%;
         margin-left:5%;
         padding:2%;
         float: left;


}
.ndpart img{

        width: 100%;
}


.ndbtn{

    text-decoration: none;
    background-image: linear-gradient(green,pink);
    border:1px solid red;
    border-radius:5px;
    font-weight: bold;
    padding:10px 20px;
}
.ndbg{

    background-image: url("dream-bg.png");
    background-repeat: no-repeat;
    background-position:right;
    height: 600px;
}
.size{

    font-size: 20px;
}
.experience{

    float:left;
    width:40%;
    margin-left: 5%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height:60%;
}
.red{

    color: red;
}
#left-border{

     border-left: 7px solid;
     border-image: linear-gradient(180deg,lightsalmon,tomato);
     border-image-slice: 1;
     

}
#left-borderagain{


    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
    

}
.extra{

     background-image: url("exp-bg.png");
     background-position: left;
     background-repeat: no-repeat;
     height: 600px;
   
     

}